<div class="service">
    <div class="contact service-column">
      <p class="service-heading">Contact Us</p>
      <div id = "contact-info">
        <span> <mat-icon>contacts</mat-icon> Mike Huang </span>
        <br>
        <span> <mat-icon>call</mat-icon> (818) 390 - 1123</span>
        <br>
        <span> <mat-icon>alternate_email</mat-icon> mike.h@JSM.com</span>
        <br>
        <span> <mat-icon>location_on</mat-icon> 2243 Cotorna Lane, Frisco TX 75034</span>
      </div>

    </div>

    <div class="account service-column">
      <p class="service-heading">Account Services</p>
      <div id="account-info">
        <span> <mat-icon>transit_enterexit</mat-icon> Create your account <a [routerLink]="['/registration']">here</a></span>
        <br>
        <span> <mat-icon>event_note</mat-icon> Schedule vehicle service <a href="login.php">here</a></span>
        <br>
        <span> <mat-icon>info</mat-icon> Tips about auto-detailing <a href="tips.html">here</a></span>
      </div>
    </div>
  </div>