<div class="service">
    <div class="contact service-column">
      <p class="service-heading">Contact Us</p>
      <div id = "contact-info">
        <fa-icon [icon]="faAddressCard"></fa-icon> <span> Mike Huang </span>
        <br>
        <fa-icon [icon]="faPhone"></fa-icon> <span> (818) 390 - 1123</span>
        <br>
        <fa-icon [icon]="faAt"></fa-icon> <span> mike.h@JSM.com</span>
        <br>
        <fa-icon [icon]="faMapMarker"></fa-icon> <span> 2243 Cotorna Lane, Frisco TX 75034</span>
      </div>

    </div>

    <div class="account service-column">
      <p class="service-heading">Account Services</p>
      <div id="account-info">
        <fa-icon [icon]="faSignInAlt"></fa-icon> <span> Create your account <a [routerLink]="['/registration']">here</a></span>
        <br>
        <fa-icon [icon]="faCalendarAlt"></fa-icon> <span> Schedule vehicle service <a href="login.php">here</a></span>
        <br>
        <fa-icon [icon]="faInfoCircle"></fa-icon><span> Tips about auto-detailing <a href="tips.html">here</a></span>
      </div>
    </div>
  </div>